<?xml version='1.0' encoding='utf-8'?>
<widget id="com.seuprojeto.repertorio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Repertorio</name>
    <description>Banco de partituras PouchDB</description>
    <author email="contato@exemplo.com">Seu Nome</author>
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="AllowInlineMediaPlayback" value="true" />

    <plugin name="cordova-plugin-file" spec="^8.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^6.0.0" />
    
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <allow-intent href="market:*" />
    </platform>

    <platform name="electron">
        <preference name="ElectronNodeIntegration" value="true" />
        <preference name="ElectronContextIsolation" value="false" />
        <window height="768" width="1024" />
    </platform>
</widget>